SERVICE_HOST=127.0.0.1
SERVICE_PORT=40721
KOHARU_MODE=real
KOHARU_EXE=D:\koharu\koharu.exe
KOHARU_HOST=127.0.0.1
KOHARU_PORT=40722
KOHARU_CPU=false
KOHARU_START_TIMEOUT_MS=120000
KOHARU_JOB_TIMEOUT_MS=900000
MAX_IMAGE_BYTES=41943040
